<footer class="bottom">
    <div class="licenses">
        <span>
            Blog Proudly powered by <a href="https://github.com/es6rocks/harmonic/">Harmonic</a>
        </span>        
    </div>
</footer>
<script>
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1264252-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" src="/harmonic.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script src="/js/vendor/prism.js"></script>
</body>
</html>