<head>
    <title>{{ config.title }}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{ config.author }}">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="javascript, html, html5, ecmascript, es6, frontend, web" /> 

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="canonical" href="{{ config.domain }}">
    <link href="/favico.ico" rel="icon">

    <!-- Facebook Tags -->
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:image" content="http://jaydson.org/images/logo-jaydson-share.jpg">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://jaydson.org">
</head>