footer
    position fixed
    left 0px
    bottom 0px
    height 50px
    width 100%

.bottom
    height 50px
    background-size auto 100%

.licenses
    position absolute
    bottom 0
    width 100%
    display block
    background-color darkGrey
    font-size 1.10rem
    color #fff
    text-align center
    height 100%
    padding-top 15px
    overflow hidden

.licenses a
    color: #163565

.licenses span 
    margin-left 10px
    color #fff