.social
    background-color #141414
    overflow hidden

.social__list
    @extends $container 
.meni__list
    @extends $container
    text-align center

.meni__item
    display: inline-block
    font-size: 1.8rem
    margin: .5em .5em

.meni__list a
    color: #fff

.social__item
    display: inline-block
    font-size: 1.2rem
    margin: .5em 1em

.social__link
    color: #fff


.social__link:hover path,
.social__link:focus path
    fill: yellow
